redis-cluster:
  enabled: false
redis:
  enabled: false
postgresql:
  enabled: false
postgresql-ha:
  enabled: false

persistence:
  enabled: false

gitea:
  config:
    database:
      DB_TYPE: sqlite3
    session:
      PROVIDER: memory
    cache:
      ADAPTER: memory
    queue:
      TYPE: level
      
  persistence:
    enabled: true
    size: 10Gi
    storageClass: standard   # adjust to your k8s storage class
  admin:
    username: admin
    password: admin123
